*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #000000;
    color: #ffff;
    background-color: #ceb76f;
    background-color: #070707;
    font-size: 16px;
    
}
h1{
    padding-top: 25px;
    background-color: rgb(169, 243, 218);
    padding-inline-start: 35%;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-radius: 30px;
}
.info img{
    width: 250px;
    height: 250px;
    padding: 5px;
    margin-left: 50px;
    border-radius: 50%;
}
.info img:hover{
    border-style: solid;
    border-color: aqua;

}
.info p{
    margin: -200px auto;
    height: 250px;
    width: 400px;
    font-size: 25px;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(207, 243, 229);
    margin-left: 350px;
    margin-top: -250px;
    
}
.atrass{
    background-color:#ffff;
    font-size: 50px;
    border-end-end-radius: 10px;
    border-top-left-radius: 10px;
    color:#000000;
    border-style: solid;
    border-color: rgb(171, 8, 212) ;
     float: right;
     padding-right: 20px;
     margin-right: 50px;
     margin-top: 500px;
    
}
.atrass:hover{
    color: rgb(56, 42, 25);
    background-color: bisque;
    border-radius: 10px;
    border-style: solid;
    border-color:rgb(97, 247, 164);
}
