*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #000000;
    color: #ffff;
    background-color: #ceb76f;
    background-color: #070707;
    font-size: 16px;
    
}

a{
    color: rosybrown;
    text-decoration: none;
}
.contenedor{
    width: 90%; 
    margin: auto;
}
.nav-main{
    font-size: 17px;
    display: flex;
    background-color: rgb(200, 241, 228);
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 20px 0;
    border-radius: 20px;
    margin-top: 15px;
}
.nav-brand{
    width: 200px;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    border-color: aquamarine;
}
.nav-main ul li{
    padding: 12px;
    list-style: none;

}
.nav-main ul li a:hover{ 
    transform: scale(1.1);
    background-color:aquamarine;
    color:#000000;
    font-weight: bold;
    box-shadow: 0 0 0 1px white;
    letter-spacing: 2.1px;
    border-radius: 15px;
    border-top: 8px;
    border-bottom: 8px;
   

}
.nav-main ul.nav-menu{
    display: flex;
    margin-left: 10px;
}
hr{
    margin: 10px 0;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(207, 243, 229);
}
.showcase {
    width: 100%;
    height: 500px;
    background: url('./img/mach1.jpg') no-repeat center/cover;
    padding-bottom: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: left ;
    justify-content: flex-end;
    border-radius: 10px;
    box-shadow: 0 5px 15px white;
    
}
.showcase h1:hover{
    color: rgb(56, 42, 25);
    background-color: bisque;
    border-radius: 10px;
    width: 40%;
}
p{
    color:white;
    border-color: black;
}
.showcase p:hover{
    border-radius: 10px;
    color:rgb(56, 42, 25);
   background-color: bisque;
}

.otrosmodelos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 30px;
    
}
.otrosmodelos img{
    width: 100%;
    height: 220px;
    
}
.otrosmodelos img:hover{

    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(207, 243, 229);
   
}
.otrosmodelos h2{
    font-size: 30px;
    margin: 15px 0;

}
.otrosmodelos p:hover{
    color: rgb(253, 253, 253);
    border-style: solid;
    border-color: aquamarine;
    border-width: 02.1px;
    border-radius: 10px;  
}
.otrosmodelos h2:hover{
    color: rgb(56, 42, 25);
    background-color: bisque;
    border-radius: 10px;
    

}
.redes{
    margin: 50px;
}
.redes p{
    text-align: left;
    justify-content: right;
    font-size: 40px;
    color: #000000;
}
.enlases{
    display:flex;
    align-items: center;
    justify-content: right;
    
}
.enlases a{
    margin:0 10px;
    color: #000000;
    
}
.enlases a i {
    font-size: 3rem;
    color: #000000;
}
.piepag{
    background-color: rgb(200, 241, 228);
    padding: 50px;
    border-radius: 10px;
    margin-top: 150px;


}
@media (max-width: 767px){
.table{
    display: none;
}
.movil{
    display: none;
}
}
@media (max-width: 700px){
    .otrosmodelos{
    grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 768px) and (max-width: 990px){
    .desktotop{
        display: none;
      }
    
      .movil{
          display: none;
      }

}
@media(min-width: 991px){
    .desktotop{
    display: none;
  }
  .table{
      display: none;
  }
  
  }