*{
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    
}
body{
    background: #000000;
    color:rgb(24, 23, 23);
    background-color: #070707;
    font-size: 16px;
}
hr{
    margin: 10px 0;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(207, 243, 229);
   
}

.portada{
width: 70%;
padding-top: 10px;
height: 300px;
background: url('./img/depor1.jpg') no-repeat center/cover ;
padding-bottom: 40px;
margin-bottom: 20px ;
display: flex;
flex-direction: column;
align-items: left ;
justify-content: flex-end;
border-radius: 50px;

}
h1{
    background-color: bisque;
    width: 30%;
    border-radius: 10px;
}
/*sport*/
.sportt{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 30px;
    
}
.sportt img{
    width: 100%;
    height: 220px;
    
}
.sportt img:hover{

    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(207, 243, 229);
   
}
.sportt h2{
    font-size: 30px;
    margin: 15px 0;
}
.sportt p:hover{
    color: rgb(253, 253, 253);
    border-style: solid;
    border-color: aquamarine;
    border-width: 02.1px;
    border-radius: 10px;  
}
.sportt h2:hover{
    color: rgb(56, 42, 25);
    background-color: bisque;
    border-radius: 10px;

}
.atras{
    background-color:bisque;
    border-end-end-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    border-style: solid;
    border-color:rgb(97, 247, 164);
     float: right;
}
.atras:hover{

color: rgb(56, 42, 25);
    background-color: bisque;
    border-radius: 10px;
    border-style: solid;
    border-color:rgb(171, 8, 212) ;

}

@media (max-width: 700px){
    .sportt{
    grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 768px) and (max-width: 990px){
    .desktotop{
        display: none;
      }
    
      .movil{
          display: none;
      }

}
@media(min-width: 991px){
    .desktotop{
    display: none;
  }
  .table{
      display: none;
  }
  
  }
